#img_homepage2 { }
#img_mainpage { }
#img_uploading { }
#img_uploadingOK { }
#img_filelist { }
#img_rgfffromfilelist { }
#img_uploading2 { }
#img_uploading3 { }
#img_filelist2 { }
#img_alignmentMethodSelection { }
#img_alignreads1 { }
#img_alignreads2 { }
#alignreadsOK { }
#img_alignmentnewform { }
#img_filelistbamsadded { }
#img_filelistbamselection { }
#img_igv1 { }
#img_igv2 { }
#img_igv3 { }
#img_igv4 { }
#img_igv5 { }
#img_quantifySelection { }
#img_quantifyInitial { }
#img_quantifygffSelection { }
#img_quantifybamSelection { }
#img_quantifystrandSelection { }
#img_quantifystrandSelected { }
#img_quantifyProgression { }
#img_quantifyOK { }
#img_quantifynewform { }
#img_filelistcountsadded { }
#img_CompareSamplesMethodSelection { }
#img_comparesamplesinitialDESeq2 { }
#img_comparegffSelection { }
#img_comparesamplesprefinal { }
#img_comparesamplesfinal { }
#img_compareOK { }
#img_comparesamplesinitialDESeq2b { }
#img_comparesamplesclear { }
#img_comparesamplesfinal2 { }
#img_compareOK2 { }
#img_filelistdiffexpadded { }
#img_filelistdiffexpselection { }
#img_fiestainitial { }

#gffBt { vertical-align:middle; }
#igvBt { vertical-align:middle; }
#fiesta2Bt { vertical-align:middle; }
