/* from: https://codepen.io/benarson/pen/gMpOyX */
@-webkit-keyframes MOVE-BG {
	from {
		-webkit-transform: translateX(0);
	}
	to { 
		-webkit-transform: translateX(46px);
	}
}

@keyframes MOVE-BG {
	from {
		transform: translateX(0);
	}
	to { 
		transform: translateX(46px);
	}
}

.spanFunctionName {
	font-weight:bold;
	color:blue;
	font-size:inherit;
}


.bg{
	padding:0px;
	margin:0px;
    position: absolute;
    left: -46px;
    right: 0;
    top: 0;
    bottom: 0;
	
  background: -webkit-repeating-linear-gradient(
    145deg,
    green 1px,
    darkgreen 2px,
    darkgreen 11px,
    green 12px,
    green 20px
  );
  background: repeating-linear-gradient(
    -55deg,
    green 1px,
    darkgreen 2px,
    darkgreen 11px,
    green 12px,
    green 20px
	);
    
    -webkit-animation-name: MOVE-BG;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	
    animation-name: MOVE-BG;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}





@-webkit-keyframes progress-bar-stripes{ from{background-position:0 0 } to { background-position:40px 0 } }
@-o-keyframes progress-bar-stripes{ from{background-position:0 0 } to { background-position:40px 0 } }
@keyframes progress-bar-stripes { from { background-position:0 0 } to { background-position:40px 0 } }

@keyframes expandFilesDiv { from { height:80px; } to { height:calc(100vh - 240px); } }

@keyframes reduceFilesDiv { from { height:calc(100vh - 240px); } to { height:80px; } }

[draggable=true] { cursor: move; }

.resizable {
  resize: both;
/*
  overflow: scroll;
  max-width: 300px;
  max-height: 460px;
  border: 1px solid black;
  min-width: 50px;
  min-height: 50px;
  background-color: skyblue;
*/
}

html * { font-size:11pt; font-family:sans-serif; }

.absolute { position:absolute; }
.relative { position:relative; }
.input5 { width:3em; }
.w100 { width:100%; }
.h100 { height:100%; }
.mw100 { max-width:100%; }
.mh100 { max-height:100%; }
.w50 { width:50%; }
.h50 { height:50%; }

.w40 { width:40%; }
.h40 { height:40%; }

.w25 { width:25%; }
.h25 { height:25%; }

.w15 { width:15%; }
.h15 { height:15%; }

.w10 { width:10%; }
.h10 { height:10%; }

.font08 { font-size:0.8rem; }
.font20 { font-size:2rem; }
.font30 { font-size:3rem; }
.font15 { font-size:1.5rem; }
.font12 { font-size:1.20rem; }
.font18 { font-size:1.8rem; }

.bold { font-weight:bold; }

.border { border:1px solid #D4D0C8; }
.bbottom { border-bottom:1px solid #D4D0C8; }
.radius { border-radius:8px; }
.shadow { box-shadow:1px 1px 2px #000000; }
.largeshadow { box-shadow:1px 1px 16px 0px gray; }
.autoscroll { overflow:auto; }
.borderbox { box-sizing:border-box; }
.contentbox { box-sizing:content-box; }
.ellipsis { overflow:hidden; white-space:nowrap; text-overflow:ellipsis; }

.right { text-align:right; }
.center { text-align:center; }
.left { text-align:left; }
.justify { text-align:justify; }
.middle { vertical-align:middle; }
.top { vertical-align:top !important; }
.bottom { vertical-align:bottom; }
.nowrap { white-space:nowrap; }
.wrap { white-space:normal; }
.padded { padding:2em; }
.lpadded { padding-left:1em; }
.tinypadded { padding:0.2em;}
.medipadded { padding:0.5em; }
.withmargin { margin:2rem; }

.bwhite { background:white; }
.bsilver { background:silver; }
.bEFEFEF { background:#EFEFEF; }
.bgradient { background: linear-gradient(#F7F7F7, white 1.2rem, white); }
.D4D0C8 { color: #D4D0C8; }
.silver { color:silver; }
.C333333 { color:#333333; }
.black { color:#000000; }
.red { color:#FF0000; }
.gray { color:gray; }

.transparent { opacity:0.25; }

.tborder { text-shadow:1px 0 0 black, -1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, -1px -1px 0 black, -1px 1px 0 black, 1px -1px 0 black, 1px 1px 0 black; }

.inthemiddle50 { display:inline-block; box-sizing:border-box; position:absolute; width:50vw; height:400px; left: calc(50vw - 25vw); top: calc(50vh - 200px); }
.inthemiddle { display:inline-block; box-sizing:border-box; position:absolute; left:50%; top:50%; transform: translate(-50%, -50%); }



.gff_div { box-sizing:border-box; overflow:auto; display:block; width:90w; height:90h; background:black; }
.gff_div_container { z-index:9999; background:white;display:none; box-sizing:border-box; position:relative; width:96vw; height:96vh; width:96vw; height:96vh; left: calc(50vw - 48vw); top: calc(50vh - 48vh); }

.igv_div { box-sizing:border-box; overflow:auto;display:block; width:100%; height:100%; background:white; }
.igv_div_container { z-index:9999; background:white;overflow:auto;display:none; box-sizing:border-box; position:relative; max-width:96vw; max-height:96vh; width:96vw; height:96vh; left: calc(50vw - 48vw); top: calc(50vh - 48vh); }

.divstep { overflow:hidden; position:relative; box-sizing:border-box; white-space:nowrap; border-radius:3px; border-right:1px solid white; display:inline-block; }

.miniCloseButton { cursor:pointer; background:white; color:darkgray; border-radius:0.7rem; width:1.4rem; height:1.4rem; padding:0px; text-align:center; vertical-align:middle;font-size:0.8rem; border:0px solid white; }
.miniCloseButton:hover { background:#FFFF00; color:black; }

.closeButton { cursor:pointer; background:red; color:white; border-radius:1rem; width:2rem; height:2rem; padding:0px; text-align:center; vertical-align:middle; font-size:1rem; border:0px solid white; }
.closeButton:hover { background:#FFFF00; color:black; }

.closeButtonDialog { cursor:pointer; background:white; color:black; border-radius:1rem; width:2rem; height:2rem; padding:0px; text-align:center; vertical-align:middle; font-size:1rem; border:0px solid white; }
.closeButtonDialog:hover { background:#FFFF00; color:black; }



i { box-sizing:content-box; }
body {
	margin:0px;
	background:#D4D0C8;
	overflow:hidden;
	line-height: 1.2;
}

select {
	border:1px solid white;
	padding:0.25em; 
	border-radius:1em;
	outline:none;
/*	width:100%; */
}

input[type=textbox]:disabled{
	color:rgba(0,0,0,0);
}

input[type=checkbox]
{
	width:1.1rem;
	height:1.1rem;
}

input[type=radio]
{
	width:1.1rem;
	height:1.1rem;
    display: table-cell;
    vertical-align: middle;
    margin:0px;
    padding:0px;
}

.NoFilesToShowDiv {
	position:absolute;
	left:2rem;
	top:0rem;
	font-size:2rem;
	font-weight:normal;
	color:black;
	text-align:left;
}

.NoProjectsToShowDiv {
	padding-top:2em;
	font-weight:normal;
	color:gray;
	text-align:left;
}

.HomeLogo {
	font-size:50px;
	font-weight:bold;
	color:white;
	padding:24px;
	border-radius:16px;
	box-shadow:1px 1px 8px black;
	text-align:center;
}

ul.list {
	padding:0em;
	margin:0em;
	margin-left:1em;
	list-style-type: disc;
	list-style-position: outside;
	max-width:60em;
}

.ListItem span {
	font-size:0.7em;
	line-height:80%;	
}

.ListItem {
	font-size:2em;
	margin-left:1em;
	padding-top:0.5em;
	line-height:80%;	
}

.logo { background: #5D6D7E; }

.trFile td {
	background: linear-gradient(#F7F7F7, white 1.2rem, white);
}

.trFile:hover td {background:#FFFF88; }

.trFileSelected td {
	background: linear-gradient(lightgray, lightgray 2rem, white);
	color:black;
}

.trFileSelected:hover td { background:#FFFF88; }

.DialogTitle { font-size:1.5rem; font-weight:normal; }
.DialogRow { padding:0.5rem; }

.ValidInputInteger { color:#000000; width:5em; text-align:right; }
.WrongInputInteger { color:#FF0000; width:5em; text-align:right; }
.DefaultInputInteger { color:#000000; width:5em; text-align:right; }

.ValidInputFloat { color:#000000; width:5em; text-align:right; }
.WrongInputFloat { color:#FF0000; width:5em; text-align:right; }
.DefaultInputFloat { color:#000000; width:5em; text-align:right; }

.WrongOutputFile { color:#FF0000; }
.ValidOutputFile { color:#000000; }

.WrongInputRadio { color:#FF0000; border-color:#FF0000; }
.ValidInputRadio { color:#000000; }

.WrongInputSelect { color:#FF0000; border-color:#FF0000; }
.ValidInputSelect { color:#000000; }

.WrongInputSelectFile { color:#FF0000; border-color:#FF0000; }
.ValidInputSelectFile { color:#000000; }

.WrongInput { color:#FF0000; border-color:#FF0000; }
.ValidInput { color:#000000; }


.fileSpan {
	color:black;
	background:#EEEEEE;
	font-weight:normal;
	font-family:sans-serif;
	padding:0.33rem;
	border-radius:5px;
	box-shadow:1px 1px 2px silver;	
}

.buttonIcon:not(.exitButton) {
	padding-left:0rem;
	padding-right:0rem;
	padding-top:0rem;
	padding-bottom:0rem;
	margin-left:0.05rem;
	margin-right:0.05rem;
	white-space:nowrap;
	box-shadow:1px 1px 3px black;
}

.exitButton {
	padding-left:0rem;
	padding-right:0rem;
	padding-top:0rem;
	padding-bottom:0rem;
	margin-left:0.05rem;
	margin-right:0.05rem;
	white-space:nowrap;
	background:crimson; 
	color:white; 
	box-shadow:1px 1px 3px black;
}

.exitButton:hover {
	background:yellow !important;
	color:black !important;
}

.buttonIcon:disabled {
	background:#EDEDED;
	color:#D4D0C8;
}

.buttonIcon:hover {
	background:yellow !important;
}

.buttonIconPadding {
	padding-left:0.33rem;
	padding-right:0.33rem;
	padding-top:0.33rem;
	padding-bottom:0.33rem;
}

.buttonDialog {
	padding-left:0.5rem;
	padding-right:0.5rem;
	padding-top:0.25rem;
	padding-bottom:0.25rem;
	margin-left:0.05rem;
	margin-right:0.05rem;
	white-space:nowrap;
	font-size:1.2rem;
}

.buttonDialog:disabled {
	background:#EDEDED;
	color:#D4D0C8;
}

.ButtonTableHead {
	padding-left:0.2rem;
	padding-right:0.5rem;
	padding-top:0.25rem;
	padding-bottom:0;
	margin:0px;
/*	margin-right:1px; */
/*	margin-left:1px; */
/*	border-radius:0.5em; */
	border:0px solid white;
	box-sizing:border-box;
	color:black;
/*	background:#EFEFEF; */
	background:white;
}


.ButtonLaunch {
	padding-top:0.5em;
	padding-bottom:0.5em;
	padding-left:2em;
	padding-right:2em;
	border-radius:2em;
	background:red;
	color:white;
	font-weight:bold;
	font-size:1.1rem;
	cursor:pointer;
	box-shadow:1px 1px 5px black;
	/* width:90%; */
	border:0px solid black;
}

.ButtonLaunch:hover {
	background:#FFFF00;
	color:black;
}

.ButtonLaunch:active {
	background:#FFFF00;
	color:black;
	box-shadow:0px 0px 0px black;
	margin-left:1px;
	margin-top:1px;
}

.ButtonLaunch:disabled {
	cursor:default;
	background:#EDEDED;
	color:#D4D0C8;
	box-shadow: 1px 1px 5px gray;
}

#dropContainer {
	position:relative;
	overflow:hidden;
	border:2px dashed #000000;
	border-radius:1rem;
	width:106px;
	height:76px;
	text-align:center;
	padding-top:30px;
	color:white;
	background:#AACCDD;
	margin:0.50rem;
}

.yourFiles {
	font-size_1.2rem;
	font-weight:bold;
}

.thumbnail {
	height:3rem;
	vertical-align:middle;
	cursor:pointer;
}

#errorMessageDiv {
	display:inline-block;
	font-size:0.8rem;
	white-space:normal;
	text-align:left;
	width:100%;
	height:5rem;
	overflow-y:auto;
}

#FilesTable {
	background:#FFFFFF;
	position:absolute;
	left:0px;
	top:0px;
}

#over_FilesTable {
	background:#FFFFFF;
	position:sticky;
	top:0px;
}

#FileTypesDiv {
	width:100%;
	text-align:left;
	padding:0.25rem;
	padding-left:2rem;
}

.FileTypeButton {
	padding-left:1rem;
	padding-right:1rem;
	padding-top:0.5rem;
	padding-bottom:0.5rem;
	border-radius:2rem;
/*	border:2px solid white; */
	white-space:nowrap;
	background:#EFEFEF;
	margin-left:1px;
}

.FileTypeButtonSomeSelected {
	padding-left:1rem;
	padding-right:1rem;
	padding-top:0.5rem;
	padding-bottom:0.5rem;
	border-radius:2rem;
/*	border:2px solid black; */
	white-space:nowrap;
	background:#EFEFEF;
	color:white;
	margin-left:1px;
}


.FileTypeSpan {
	padding-left:1rem;
	padding-right:1rem;
	padding-top:0.35rem;
	padding-bottom:0.35rem;
	border-radius:1em;
	white-space:nowrap;
	background:#EDEDED;
	text-decoration:none;
}

.igvIcon {
	padding-left:0.35rem;
	padding-right:0.35rem;
	padding-top:0.35rem;
	padding-bottom:0.35rem;
	border-radius:0.7em;
	border:1px solid darkblue;
	box-shadow:1px 1px 3px black;
	white-space:nowrap;
	background:#457a8a;
	color:white;
	text-decoration:none;
	font-size:0.8rem;
	cursor:pointer;
}

.gffIcon {
	padding-left:0.35rem;
	padding-right:0.35rem;
	padding-top:0.35rem;
	padding-bottom:0.35rem;
	border-radius:0.7em;
	border:1px solid darkgray;
	box-shadow:1px 1px 3px black;
	white-space:nowrap;
	background:#457a8a;
	color:white;
	text-decoration:none;
	font-size:0.8rem;
	cursor:pointer;
}


.FileTypeButton:hover {
	background:#FFFF00 !important;
	color:black !important;
	cursor:pointer;
}

#HomeCourtain {
	position:absolute;
	left:0px;
	top:0px;
	width:100vw;
	height:100vh;
	background:rgba(255,255,255);
	z-index:9998;
}

#Table_Logo {
	position:absolute;
	left:50%;
	top:2rem;
	transform: translate(-50%);


}

#FootDiv {
	border-top:1px solid #D4D0C8;
	font-size:0.8rem;
	color:#D4D0C8;
	padding:0.5em;
	width:100%;
	height:100%;
	text-align:center;
}

#Home_Welcome {
	text-align:left;
	margin-left:1rem;
	font-size:1.5rem;
}

#Home_Welcome2 {
	text-align:center;
	font-size:1rem;
	padding-top:2rem;
	padding-bottom:1rem;
}

#Home_Welcome3 {
	text-align:center;
	font-size:1rem;
	padding-top:1rem;
	padding-bottom:1rem;
}

#LoadFiles {
	display:block;
	position:absolute;
	left:0;
	top:-100px;
	width:500px;
	height:500px;
	background:transparent;
}

#MainDiv {
	box-sizing:border-box;
	position:absolute;
	width:100vw;
	height:100vh;
	margin:0px;
	background:#FFFFFF;
	overflow:hidden;
}

#ModalCourtainDialogs {
	display:none;
	cursor:wait;
/*	z-index:9997; */
	position:absolute;
	left:0px;
	top:0px;
	width:100vw;
	height:100vh;
	background:rgba(255,255,255,0.75);
}

#ModalCourtain {
	display:none;
	cursor:wait;
	z-index:9998; 
	position:absolute;
	left:0px;
	top:0px;
	width:100vw;
	height:100vh;
	background:rgba(255,255,255,0.75);
}


#ModalCourtainDark {
	display:none;
	z-index:9998;
	position:absolute;
	left:0px;
	top:0px;
	width:100vw;
	height:100vh;
	background:rgba(69,122,138,0.5);
}

#ModalCourtainGFF {
	display:none;
	z-index:9998;
	position:absolute;
	left:0px;
	top:0px;
	width:100vw;
	height:100vh;
	background:rgba(255,255,255,0.5);
}

#myalert {
	position:absolute;
	background:rgba(255,255,255,0.75);
	left:0px;
	top:0px;
	width:100vw;
	height:100vh;
	margin:0px;
	padding:0px;
	text-align:center;
}

#myalert_dialog {
	position:absolute;
	left: calc(50vw - 200px);
	top: calc(33vh - 112px);
	background:#FFFFFF;
	width:400px;
	height:225px;
	padding:16px;
}

.Chr {
	border-radius:8px;
	height:1rem;
	background:#D4D0C8;
}


.slash_off {
	white-space:nowrap;
	background:silver;
	position:relative;
	border-top-left-radius:0.75em;
	border-top-right-radius:0.75em;
	border-bottom:1px solid silver;
	border-top:1px solid silver;
	border-left:1px solid silver;
	border-right:1px solid silver;
	padding-top:0.5em;
	padding-bottom:0em;
	padding-left:1em;
	padding-right:1em;
	cursor:pointer;
	user-select: none;
}

.slash_on {
	white-space:nowrap;
	background:#EFEFEF;
	position:relative;
	border-top-left-radius:0.75em;
	border-top-right-radius:0.75em;
	border-bottom:1px solid #EFEFEF;
	border-top:1px solid silver;
	border-left:1px solid silver;
	border-right:1px solid silver;

	padding-top:0.5em;
	padding-top:0.5em;
	padding-bottom:0.25em;
	padding-left:1em;
	padding-right:1em;
	cursor:default;
	user-select: none;
}

.slashFill {
	width:100%;
	height:0%;
	border-bottom:1px solid silver;
}

.slashSpacer {
	width:1px;
	border-bottom:1px solid silver;
}

#UploadRowsContainer {
	margin-top:1rem;
	width:100%;
	height:calc(100% - 6rem);
	overflow:auto;
}


.ProgressBar {
	height:20px;
	background:rgba(0,255,0,0.25);
	position:absolute;
	left:0px;
	top:0px;
	background-image:-webkit-linear-gradient(-45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
	background-image:-o-linear-gradient(-45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
	background-image:linear-gradient(-45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
	-webkit-background-size:40px 40px;
	background-size:40px 40px;
	-webkit-animation:progress-bar-stripes 2s linear infinite;
	-o-animation:progress-bar-stripes 2s linear infinite;
	animation:progress-bar-stripes 2s linear infinite;
	border-radius:4px;
}

.ProgressBarDiv {
	height:20px;
	width:calc(100% - 40px);
	background:#EEEEEE;
	position:relative;
	border:1px solid black;
	border-radius:4px;
	margin-bottom:0.5rem;
}

.progress-bar{
	border-radius:9px;
	float:left;
	width:0%;
	height:100%;
	font-size:12px;
	line-height:20px;
	color:#fff;
	text-align:center;
	background-color:#337ab7;
	-webkit-box-shadow:inset 0 -1px 0 rgba(0,0,0,.15);
	box-shadow:inset 0 -1px 0 rgba(0,0,0,.15);
	-webkit-transition:width .6s ease;
	-o-transition:width .6s ease;
	transition:width .6s ease
}

.progress{
	height:20px;
	width:400px;
	margin-bottom:20px;
	overflow:hidden;
	background-color:#f5f5f5;
	border-radius:9px;
	-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.1);
	box-shadow:inset 0 1px 2px rgba(0,0,0,.1)
}

.sF-modalContainer {
	display:block;
	z-index: 9999 !important;
	position:absolute;
	background:rgba(255,255,255,0.75);	
}


.btn-custom-red {
    background-color: crimson !important;
    border-color: crimson !important; 
    color: white !important; 
    padding: 0em 0.5rem !important; 
    font-size: 10pt !important;   
    font-weight: bold;
}

.btn-custom-red:hover {
    background-color: red !important; 
    border-color: red !important;
}
