html {
	font-family:sans-serif;
	font-size:12pt;
}

body {
	background:#D4D0C8;
}

.page {
	max-width:1200px;
	background:white;
	padding:2rem;
	font-size:12pt;
	text-align:left;
}

p {
	text-align:justify;
}

h1 {
	padding-top:2rem;
}

h2 {
}

h3 {
}


ul {
	list-style-position:outside;
	margin:0px;
}

li {
	margin-bottom:0.5rem;
}

table {
	border-spacing:0px;
	border-collapse:separate;
}

table {
	border-top: 1px solid #D4D0C8;
	border-left: 1px solid #D4D0C8;
	margin-bottom:1rem;
}

table, td, th {
	border-bottom: 1px solid #D4D0C8;
	border-right: 1px solid #D4D0C8;
}

table th {
	color:#000000;
	font-weight:normal;
	background:#EFEFEF;
}

td, th {
	padding:0.5rem;
}

button, input[type=submit] {
	border-radius:0.5rem;
	padding-left:8px;
	padding-top:4px;
	padding-right:8px;
	padding-bottom:4px;
	border-left:2px solid #EFEFEF;
	border-top:2px solid #EFEFEF;
	border-right:2px solid #D4D0C8;
	border-bottom:2px solid #D4D0C8;
	background:#EFEFEF;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	user-select:none;
	line-height:1;
}

button:hover, input[type=submit]:hover {
	background:yellow;
}

button:active, input[type=submit]:active {
	padding-left:8px;
	padding-top:4px;
	padding-right:8px;
	padding-bottom:4px;
	border-left:2px solid #666666;
	border-top:2px solid #666666;
	border-right:2px solid #666666;
	border-bottom:2px solid #666666;
	background:#D4D0C8;
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	user-select:none;
	line-height:1;
}

a {
	text-decoration:none;
	color:#4863A0;
}

a:hover {
	text-decoration:underline;
}

input[type=file] {
	padding-bottom:0.5rem;
	border-bottom:1px dotted black;
}


select {
	border-radius:0.5rem;
	padding:0.5rem;
	width:100%;
	background:#EFEFEF;
}

.figure {
	margin-top:2rem;
	margin-bottom:2rem;
	position:relative;
}

.figure img {
	margin:0px;
}
.caption {
	padding-top:0rem;
	padding-left:0rem;
	margin:4px;
}

.csl-entry {
	margin-bottom:1rem;
}

#TOC {
	text-align:left;
}

div#TOC li {
    list-style:none;
    background-image:none;
    background-repeat:none;
    background-position:0;
}

dt {
	font-weight:normal;
	font-style:italic;
	padding:0px;
	margin:0px;
	margin-bottom:1rem;
}

dd {
	padding:0px;
	margin:0px;
	margin-bottom:2rem;
	padding-left:1rem;
}




.top { vertical-align:top; }
.left { text-align:left; }
.center { text-align:center; }
.right { text-align:right; }
.justify { text-align:justify; }
.nowrap { white-space:nowrap; }
.box { background:#EFEFEF; }
.xlargepadding { padding:2rem; }
.largepadding { padding:1rem; }
.radius { border-radius:1rem; }

